%% Demo Phoenix Application
%% A Phoenix LiveView app demonstrating LiveComponent embedding via bc_gitops
#{
    name => demo_phoenix,
    version => <<"0.1.0">>,
    source => #{
        type => git,
        url => <<"https://github.com/beam-campus/bc-gitops-demo-phoenix.git">>,
        ref => <<"master">>
    },
    env => #{
        http_port => 4001,
        %% LiveView/LiveComponent integration
        %% These components can be dynamically rendered by host applications
        liveview_components => [
            #{
                id => guest_book,
                module => 'Elixir.DemoPhoenixWeb.GuestComponent',
                title => <<"Guest Book">>,
                description => <<"Sign the guest book - a LiveComponent demo">>
            }
        ]
    },
    health => #{
        type => http,
        port => 4001,
        path => <<"/health">>
    },
    depends_on => []
}.
