%% Demo Counter Application
%% A simple counter with HTTP API demonstrating hot code reload
#{
    name => demo_counter,
    version => <<"0.1.5">>,
    description => <<"Simple HTTP counter with hot code reload demo">>,
    source => #{
        type => git,
        url => <<"https://github.com/beam-campus/bc-gitops-demo-counter.git">>,
        ref => <<"v0.1.5">>
    },
    %% Marketplace license - free model
    license => #{
        model => free
    },
    env => #{
        http_port => 8082
    },
    health => #{
        type => http,
        port => 8082,
        path => <<"/health">>
    },
    depends_on => []
}.
