%% Demo Counter Application
%% A simple counter with HTTP API demonstrating hot code reload
#{
    name => demo_counter,
    version => <<"0.1.0">>,
    source => #{
        type => git,
        url => <<"https://github.com/beam-campus/bc-gitops-demo-counter.git">>,
        ref => <<"master">>
    },
    env => #{
        http_port => 8082
    },
    health => #{
        type => http,
        port => 8082,
        path => <<"/health">>
    },
    depends_on => []
}.
